<br>
<footer>
    <div class="container">
        <p>Code licensed <a href="https://github.com/Chifek" target="_blank" rel="license">ME</a>, Developer <a href="https://github.com/Chifek" target="_blank" rel="license">Chifek</a>.</p>
    </div>
</footer>